---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="font-sans text-gray-900 p-8">
    <h1 class="text-3xl font-bold">Hi, I’m Shamika 👋</h1>
    <p class="mt-2">I design ethical, inclusive product experiences.</p>
  </body>
</html>


